body {
    background-image: url("/static/img/bg_1.jpg");
}

table {
    border-collapse: collapse;
}


tr:nth-child(odd) {
  background-color: #5e361ce0;
}

tr:nth-child(even) {
  background-color: #b3886ce0;
}

td {
    padding: 5px;
}

tr, td {
  border: 2px solid #fffbf2;
}

.effect {
    position: relative !important;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-image: url(/static/img/check_bg.png);
    padding-bottom: 100px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: 20px solid #fffbf2;
    box-shadow: 8px 7px 9px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.effect::before {
    content: "";
    background: url(/static/img/overlay-top.png);
    position: absolute;
    top: 0;
    height: 12px;
    width: 100%;
}

.effect::after {
    content: "";
    background: url(/static/img/overlay-bottom.png);
    position: absolute;
    bottom: 0;
    height: 12px;
    width: 100%;
}

.content {
    width: 90%;
    height: max-content;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Varela', sans-serif;
    color: white;
}


.content h1 {
    text-align: center;
}

.content .header {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

p, a {
    text-align: center;
    font-size: 15px;
    margin: auto;
    display: block;
    text-decoration: none;
    color: #fffbf2;
}