{% extends 'base.html' %}
{% block title%} About {% endblock %}
{% block header%}
<div class="page-header position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <h1 class="display-4 text-white">ABOUT US</h1>
        <div class="d-inline-flex">
            <p class="text-white"><a class="text-white" href="/">Home</a></p>
            <p class="text-white">/</p>
            <p class="text-white">About Us</p>
        </div>
    </div>
</div>
{% endblock %}
