{% extends 'base.html' %}
{% block title%} About {% endblock %}
{% block header%}
<div class="page-header position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <h1 class="display-4 text-white">ABOUT US</h1>
        <div class="d-inline-flex">
            <p class="text-white"><a class="text-white" href="/">Home</a></p>
            <p class="text-white">/</p>
            <p class="text-white">About Us</p>
        </div>
    </div>
</div>
{% endblock %}

{% block section %}
<div>
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary" style="letter-spacing: 5px;">ABOUT US</h4>
            <h1 class="display-4">We are here for you</h1>
        </div>
        <div class="row">
            <div class="pile">
                <h1>Our Story</h1>
                <h5>Looking for a new coffee shop to satisfy your caffeine cravings? Look no further than KOFFE coffee
                    shop!</h5>
                <p>

                    At our coffee shop, we pride ourselves on serving only the highest quality coffee beans, carefully
                    sourced from trusted suppliers around the world. Our experienced baristas are skilled in the art of
                    coffee-making, and are dedicated to crafting the perfect cup of coffee to suit your taste.
                    <br> KOFFE has a warm and welcoming atmosphere, perfect for catching up with friends or finding a
                    quiet spot to work. Whether you're in a rush or looking to stay a while, we're here to make your
                    coffee experience as enjoyable as possible.

                    So why not come and give our newly created start-up coffee shop a try? We can't wait to share our
                    love of coffee with you!

                </p>
            </div>
            <div class="pile" style="min-height: 500px;">
                <img class="position-absolute w-100 h-100" src="static/img/mid-about.png"
                     style="object-fit: cover;width: 150%;margin-left: -100px;">
            </div>
            <div class="pile">
                <h1>Our Vision</h1>
                <p>At KOFFE, our vision is to create a community-driven coffee shop where customers can experience more
                    than just a great cup of coffee. We believe that coffee should be more than just a drink; it should
                    be an experience that brings people together.</p>
                <h5><i class="fa fa-check text-primary bit_space"></i>Being a hub for creativity</h5>
                <h5><i class="fa fa-check text-primary bit_space"></i>Making a positive impact in the community
                    that we serve.</h5>
                <h5><i class="fa fa-check text-primary bit_space"></i>Not only taste
                    great, but also be ethically sourced and sustainable.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}