<!DOCTYPE html>
<html lang="en">
{% block style %}
<head>
    <meta charset="utf-8">
    <title>{% block title%} {% endblock %} - KAFFE </title>
    <link rel="icon" href="static/img/title_icon.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    {% include 'style_ref.html' %}


</head>
{%endblock%}
<body>
    {% include 'top_nav_ref.html' %}

    {% block index_carousel%}
    {% endblock %}

    {% block index_about%}
    {% endblock %}

    {% block index_service%}
    {% endblock %}

    {% block index_menu%}
    {% endblock %}

    {% block index_reserve%}
    {% endblock %}

    {% block header%}
    {% endblock %}

    {% block section%}
    {% endblock %}
    {% include 'foot_ref.html' %}
    </div>
</body>

</html>