<!DOCTYPE html>
<html lang="en">
{% block style %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %} - KOFFE </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cart_styles.css') }}">
        <link rel="icon" href="static/img/title_icon.png" type="image/icon type">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap"
              rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    </head>
{% endblock %}
<body>
<div class="container-fluid nav-bar">
    <nav class="navbar">
        <a href="/">
            <div>
                <img class="logo" src="/static/img/brown_logo.png"/>
            </div>

        </a>
        <div>
            <div class="navbar-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/about" class="nav-link">About</a>
                <a href="/menu" class="nav-link">Menu</a>
                <a href="/contact" class="nav-link">Contact</a>
            </div>
        </div>
    </nav>
</div>
{% block section %}
{% endblock %}

<div class="footer text-white footer_gen position-relative overlay-top">
    {% block spec %}
    {% endblock %}
    <p class="text-white author">by <a href="https://github.com/rustamPy"> Rustam Karimov</a></p>
</div>
<script>
    {% block script %}
    {% endblock %}
</script>
</body>

</html>