{% extends 'base.html' %}
{% block title %} Menu {% endblock %}
{% block section %}
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary" style="letter-spacing: 5px;">CART</h4>
            <h1 class="display-4">We are here for you</h1>
        </div>
        <div class="coffee_row">
            {% for k, val in items.items() %}
                    <div class="coffee_menu">
                        <img src="static\img\{{ k }}.png" alt="Coffee"
                             style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%; margin-right: 10px;">
                        <div style="margin-top: 70px; margin-bottom: 20px;">
                            <h2 style="margin: 0;">{{ k }}</h2>
                            <p style="margin: 0;">Quantity: {{ val['quantity'] | int }}</p>
                            <p> {{ val['price'] }}</p>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block spec %}
    <div class="buy_now">
        <button>Order Now</button>
    </div>
{% endblock %}