<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/img/title_icon.png" type="image/icon type">
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFFBF2;
        }

        div {
            position: relative;
            height: 100%;
            width: 100%;
        }

        div img {
            width: 100px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<div>
    <a href="/"><img src="/static/img/done.png" alt="done"> </a>
</div>
</body>
</html>