<html>
<head>
    {% include 'style_ref.html' %}
    <title>Home</title>
    <link rel="icon" href="static/img/title_icon.png" type="image/icon type">
</head>
<body>
<div class="container-fluid nav-bar">
        <nav class="navbar">
            <a href="/">
                <div>
                    <img  class="logo" src="static/img/brown_logo.png">
                </div>

            </a>
            <div>
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/about" class="nav-link">About</a>
                    <a href="/menu" class="nav-link">Menu</a>
                    <a href="/contact" class="nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
<div class="construction">

    <h1> Week 1 </h1>
    <h2> I have started to work on <a href="/about"> about </a> page</h2>
    <h3> My plan is:</h3>
    <ul>
        <li>About</li>
        <li>Index</li>
        <li>Menu</li>
        <li>Order Basket</li>
        <li>Connect DB</li>
        <li>Production</li>
    </ul>

    <h2> Week 1 - Github
        <a href="https://github.com/rustamPy/e-commerce-flask/tree/week_1" target="_blank"> branch </a>
    </h2>
</div>
{% include 'foot_ref.html' %}
</body>
</html>