<html>
<head>
    {% include 'style_ref.html' %}
</head>
<body>
<div class="container-fluid nav-bar" style="margin: 10px;">
        <nav class="navbar">
            <a href="/">
                <h1 class="m0 text-white" style="color: #DA9F5B;">KOFFE</h1>
            </a>
            <div>
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/about" class="nav-link">About</a>
                    <a href="/menu" class="nav-link">Menu</a>
                    <a href="/contact" class="nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
<div style="display: flex;
flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 20%;" alt="Under Construction">
    <img src="static/img/uc.png">
    <h1> Week 1 </h1>
    <h2> I have started to work on <a href="/about"> About </a> page</h2>
    <h3> My plan is:</h3>
    <ul>
        <li>About</li>
        <li>Index</li>
        <li>Menu</li>
        <li>Order Basket</li>
        <li>Connect DB</li>
        <li>Production</li>
    </ul>

</div>
{% include 'foot_ref.html' %}
</body>
</html>