<div class="container-fluid nav-bar">
        <nav class="navbar">
            <a href="/">
                <h1 class="m0 text-white">KOFFE</h1>
            </a>
            <div>
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/about" class="nav-link">About</a>
                    <a href="/menu" class="nav-link">Menu</a>
                    <a href="/contact" class="nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>